
services:
  index_htmx:
    image: docker.io/cyberbeni/index.htmx:latest
    container_name: index_htmx
    mem_limit: '128m'
    cpus: 1
    restart: unless-stopped
    user: 1000:1000
    extra_hosts:
      - 'host.docker.internal:host-gateway' # used for accessing other services running on the host machine
    environment:
      LANG: 'hu' # used for formatting dates/numbers
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 80:8080/tcp
