--swiftversion 6.2
--exclude **/*.generated.swift

--maxwidth 140
--indent tab
--tabwidth 3

--enable isEmpty

--disable conditionalAssignment, wrapFunctionBodies, wrapPropertyBodies, docComments

--lintonly unusedArguments
