/* pico.css overrides */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	.grid.mini {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1024px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.grid.mini {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

/*
 * 1 rem = 16px
 */
:root {
	--gap-default: 0.75rem;
	--gap-medium: 0.5rem;
	--gap-small: 0.25rem;

	--font-size-mini: 0.75rem;
	--font-size-regular: 0.875rem;
	--font-size-large: 1.1rem;
}

/*
 * doctored svg image
 * svg edited to have id="icon" for the root and fill="var(--color)" for the paths
 */
svg {
	--color: var(--pico-color);
}
/* mask icon */
.mask {
	background: var(--pico-color);
	mask-size: 100%;
	mask-position: center center;
	mask-repeat: no-repeat;
}

/* primary margins/alignment */
main {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
footer {
	display: flex;
	justify-content: flex-end;
	gap: var(--gap-default);
}

/* footer position
 * https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
 */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

/* icon */
.icon {
	aspect-ratio: 1;
	object-fit: contain;
	padding: 0;
}
a.icon {
	width: 50px;
}
.icon > svg {
	width: 75%;
	height: 75%;
	margin: 12.5%;
}

/* buttons */
[role="button"],
[role="button"]:focus:not(:focus-visible),
button,
button:focus:not(:focus-visible)
{
	--pico-background-color: var(--pico-dropdown-background-color);
	--pico-border-color: var(--pico-dropdown-border-color);
	--pico-color: var(--pico-dropdown-color);
	--pico-box-shadow: none;
}
[role="button"]:is(:hover, :active, :focus:focus-visible),
button:is(:hover, :active, :focus:focus-visible)
{
	--pico-background-color: var(--pico-dropdown-hover-background-color);
	--pico-border-color: var(--pico-dropdown-border-color);
	--pico-color: var(--pico-dropdown-color);
	--pico-box-shadow: none;
}

/* tile */
.tile {
	min-height: 96px;
}

/* basic tile */
.tile.basic {
	display:flex;
	align-items: center;
	gap: var(--gap-default);
	font-size: var(--font-size-large);
}
.tile.basic > img {
	width: 64px;
}

/* detailed tile */
.tile.detailed > .title-row {
	display:flex;
	align-items: center;
	gap: var(--gap-default);
	font-size: var(--font-size-regular);
}
.tile.detailed > .title-row > img {
	width: 32px;
}
.tile.detailed > .detail-row {
	display:flex;
	flex: 0 0 100%;
	gap: var(--gap-small);
}

/* mini tile */
.tile.mini {
	min-height: 50px;
	display:flex;
	align-items: center;
	gap: var(--gap-medium);
	padding: var(--gap-small) var(--gap-medium);
	font-size: var(--font-size-mini);
}
.tile.mini > img {
	width: 24px;
}

/* section */
.section {
	display:flex;
	flex-direction: column;
	gap: var(--gap-default);
}

/* section header */
.section > .header {
	display:flex;
	gap: var(--gap-small);
	align-items: center;
	margin-block: 0;
}
.section > .header > .icon {
	min-width: 1.5rem;
	max-width: 1.5rem;
}
