/* pico.css overrides */
@media (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	.grid.mini {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1024px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.grid.mini {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (min-width: 1280px) {
	.grid.mini {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

/*
 * 1 rem = 16px
 */
:root {
	--gap-l: 0.75rem;
	--gap-default: var(--gap-l);
	--gap-m: 0.5rem;
	--gap-s: 0.25rem;

	--font-size-l: 1.125rem;
	--font-size-m: 0.875rem;
	--font-size-s: 0.75rem;

	--pico-font-size: 100%;
}

/**
 * Color schemes
 */
@media not (prefers-color-scheme: dark) {
	:root {
		--secondary-background: #00000010
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--secondary-background: #00000010
	}
}

/*
 * doctored svg image
 * svg edited to have id="icon" for the root and fill="var(--color)" for the paths
 */
svg {
	--color: var(--pico-color);
}
/* mask icon */
.mask {
	background: var(--pico-color);
	mask-size: 100%;
	mask-position: center center;
	mask-repeat: no-repeat;
}

/* primary margins/alignment */
body {
	user-select: none;
	-webkit-user-select: none;
}
main {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
footer {
	display: flex;
	justify-content: flex-end;
	gap: var(--gap-default);
}

/* footer position
 * https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
 */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}

/* icon */
.icon {
	aspect-ratio: 1;
	object-fit: contain;
	padding: 0;
}
a.icon,
button.icon
{
	width: 50px;
}
.icon > svg {
	width: 75%;
	height: 75%;
	margin: 12.5%;
}

/* buttons */
@media (pointer:coarse) {
	/* VoiceOver has its own indicator for selection, Safari makes links "focus-visible" when clicking them */
	[role="button"],
	[role="button"]:is(:hover, :active, :focus),
	button,
	button:is(:hover, :active, :focus)
	{
		--pico-background-color: var(--pico-dropdown-background-color);
		--pico-border-color: var(--pico-dropdown-border-color);
		--pico-color: var(--pico-dropdown-color);
		--pico-box-shadow: none;
	}
}
@media not (pointer:coarse) {
	[role="button"],
	[role="button"]:focus:not(:focus-visible),
	button,
	button:focus:not(:focus-visible)
	{
		--pico-background-color: var(--pico-dropdown-background-color);
		--pico-border-color: var(--pico-dropdown-border-color);
		--pico-color: var(--pico-dropdown-color);
		--pico-box-shadow: none;
	}
	[role="button"]:is(:hover, :active, :focus:focus-visible),
	button:is(:hover, :active, :focus:focus-visible)
	{
		--pico-background-color: var(--pico-dropdown-hover-background-color);
		--pico-border-color: var(--pico-dropdown-border-color);
		--pico-color: var(--pico-dropdown-color);
		--pico-box-shadow: none;
	}
}

/* tile */
.tile {
	min-height: 96px;
	padding: var(--gap-m);
}

/* basic tile */
.tile.basic {
	display: flex;
	align-items: center;
	gap: var(--gap-default);
	font-size: var(--font-size-l);
}
.tile.basic > .icon {
	min-width: 64px;
	max-width: 64px;
}

/* detailed tile */
.tile.detailed > .title-row {
	display: flex;
	align-items: center;
	gap: var(--gap-s);
	font-size: var(--font-size-m);
	font-weight: 500;
	padding-bottom: var(--gap-s);
}
.tile.detailed > .title-row > .icon {
	min-width: 28px;
	max-width: 28px;
}
.tile.detailed > .detail-row {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: var(--gap-s);
}
.detail-item {
	font-size: var(--font-size-s);
	background-color: var(--secondary-background);
	border-width: 1px;
	border-style: solid;
	border-color: var(--pico-dropdown-border-color);
	border-radius: var(--pico-border-radius);
	padding: var(--gap-s);
}
.detail-item > .title {
	font-weight: 500;
}
.detail-item > .value {
	font-weight: 300;
}

/* mini tile */
.tile.mini {
	min-height: 44px;
	display:flex;
	align-items: center;
	gap: var(--gap-m);
	padding: var(--gap-s) var(--gap-m);
	font-size: var(--font-size-s);
	font-weight: 500;
}
@media (pointer:coarse) {
	.tile.mini {
		min-height: 50px;
	}
}
.tile.mini > .icon {
	min-width: 24px;
	max-width: 24px;
}

/* section */
.section {
	display:flex;
	flex-direction: column;
	gap: var(--gap-default);
}
.section.mini {
	grid-column: 1 / -1;
}

/* section header */
.section > .header {
	display:flex;
	gap: var(--gap-s);
	align-items: center;
	margin-block: 0;
}
.section > .header > .icon {
	min-width: 1.5rem;
	max-width: 1.5rem;
}
